body {
    font-family: Arial, sans-serif;
    background-color: #ff7d7d;
    text-align: center;
}

.container {
    background: white;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

img {
    width: 150px;
    border-radius: 50%;
}
